


/* Blog banner */


@media(max-width:425px){
    .blog_inner_bottom a {
        
        font-size: 18px;
       
    }
    .blog_inner_bottom p {
        font-size: 15px;
        
    }
    .blog_inner_bottom_link {
        font-size: 12px ;
    }
    .blog_inner_bottom_a {
        font-size: 16px !important;
    }
}

